@import url(FREESCPT.css);
*,
*:focus {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  color: #555;
  border: 0;
  outline: 0;
}

.wrapper {
  overflow: hidden;
}

.impact,
header,
.slider-sctn {
  max-width: 100%;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

button:hover {
  text-shadow: 2px 2px 4px #333;
  box-shadow: 3px 3px 6px #777;
}

h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 25px;
  text-transform: uppercase;
  color: #5363db;
}

header {
  padding: 16px 0px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav li {
  margin-left: 25px;
}

.nav li a {
  position: relative;
  padding-bottom: 5px;
  text-decoration: none;
  font-weight: 600;
  transition: .2s;
}

.nav li a:hover, .nav li a:focus {
  color: #5363db;
}

.nav li a::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: #5363db;
  transition: width .3s;
  transform: translate(-50%);
}

.nav li a:hover::after, .nav li a:focus::after {
  width: 50%;
}

input[type=checkbox] {
  opacity: 0;
}

input[type=checkbox]:checked ~ label span {
  transform: rotate(45deg);
}

input[type=checkbox]:checked ~ label span::after,
input[type=checkbox]:checked ~ label span::before {
  top: 0;
  transform: rotate(90deg);
}

input[type=checkbox]:checked ~ .nav {
  transform: scaleY(1);
  opacity: 1;
}

label {
  display: none;
}

.logo {
  height: 68px;
  width: 68px;
}

.logo img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1420px) {
  header {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 768px) {
  header label {
    display: flex;
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 5;
    top: 30px;
    right: 25px;
    align-items: center;
    justify-content: center;
  }
  header label span {
    height: 2px;
    width: 100%;
    background-color: #5363db;
    position: relative;
    transition: transform .3s;
  }
  header label span::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #5363db;
    position: absolute;
    top: 10px;
    transition: transform .3s;
  }
  header label span::before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #5363db;
    position: absolute;
    top: -10px;
    transition: transform .3s;
  }
  .nav {
    position: absolute;
    top: 100px;
    right: 0;
    left: 0;
    background-color: #fff;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    transition: transform .3s;
  }
  .nav li {
    margin-left: 0;
    margin-bottom: 10px;
    text-align: center;
  }
}

.form-sctn {
  height: 100vh;
  background: linear-gradient(rgba(83, 99, 219, 0.8), rgba(83, 99, 219, 0.8)) no-repeat, url(../images/bg-01.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  margin-right: 90px;
  background-color: #fff;
  border-radius: 20px;
  padding: 40px 30px 35px;
}

.form p {
  margin-bottom: 30px;
  font-size: 26px;
  line-height: 1.2;
  font-weight: 600;
  color: #5363db;
}

.form .form-item {
  width: 240px;
  height: 50px;
  padding: 0 10px;
  margin-bottom: 20px;
  background-color: #f2f2f2;
  border: 0;
  border-radius: 10px;
}

.form .__select {
  position: relative;
  width: 240px;
  height: 50px;
  margin-bottom: 30px;
  background-color: #f2f2f2;
  border-radius: 10px;
  transition: border-bottom-left-radius .3s ease-out, border-bottom-right-radius .3s ease-out;
}

.form .__select[data-state="active"] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form .__select[data-state="active"] .__select__title::before {
  transform: translate(-3px, -50%) rotate(-45deg);
}

.form .__select[data-state="active"] .__select__title::after {
  transform: translate(3px, -50%) rotate(45deg);
}

.form .__select[data-state="active"] .__select__content {
  opacity: 1;
}

.form .__select[data-state="active"] .__select__label + .__select__input + .__select__label {
  max-height: 50px;
  border-top-width: 1px;
}

.form .__select__title {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  border-radius: 10px;
  cursor: pointer;
}

.form .__select__title::before, .form .__select__title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  display: block;
  width: 10px;
  height: 2px;
  transition: all 0.3s ease-out;
  background-color: #555;
  transform: translate(-3px, -50%) rotate(45deg);
}

.form .__select__title::after {
  transform: translate(3px, -50%) rotate(-45deg);
}

.form .__select__title:hover {
  border-color: #5363db;
}

.form .__select__title:hover::before, .form .__select__title:hover::after {
  background-color: #5363db;
}

.form .__select__content {
  position: absolute;
  top: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f2f2f2;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 0.3s ease-out;
  opacity: 0;
  z-index: 8;
}

.form .__select__input {
  display: none;
}

.form .__select__input:checked + label {
  background-color: #5363db;
  color: #fff;
}

.form .__select__label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  max-height: 0;
  padding: 0 16px;
  transition: all 0.2s ease-out;
  cursor: pointer;
  overflow: hidden;
}

.form .__select__label + input + .form .__select__label {
  border-top: 0 solid #C7CCD160;
}

.form .__select__label:hover {
  background-color: #5262dacc !important;
  color: #ffffff;
}

.form button {
  width: 170px;
  height: 50px;
  border-radius: 10px;
  align-self: flex-end;
  background-color: #5363db;
  color: #fff;
  font-size: 16px;
  line-height: 1.2;
}

@media (max-width: 768px) {
  .form-sctn, .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .form-sctn .form, .description .form {
    margin: 0 0 30px;
  }
  .form-sctn .description h1, .description .description h1 {
    padding: 0;
    margin-bottom: 30px;
  }
}

.description h1 {
  max-width: 485px;
  font-size: 48px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  padding-bottom: 40px;
  line-height: 72px;
}

.description p {
  max-width: 270px;
  font-family: 'FREESCPT';
  font-size: 40px;
  color: white;
  line-height: 1.2;
}

.abtyoga {
  padding-top: 125px;
  text-align: center;
  margin-bottom: 75px;
}

.abtyoga p {
  font-family: 'FREESCPT';
  color: #777;
  font-size: 41px;
}

.impact {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 200px;
}

@media (max-width: 1200px) {
  .impact {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.yoga-for {
  width: calc(50% - 30px);
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-bottom: 25px;
  border-radius: 10px;
  box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.1);
}

.yoga-for:nth-child(odd) {
  margin-left: 0;
}

@media (max-width: 768px) {
  .yoga-for {
    flex-direction: column;
  }
}

@media (max-width: 570px) {
  .yoga-for {
    width: calc(100% - 30px);
    margin-left: auto;
    margin-right: auto;
  }
}

.yoga-for--text {
  padding: 45px 25px;
}

@media (max-width: 768px) {
  .yoga-for--text {
    padding: 25px;
  }
}

.yoga-for--text a {
  text-decoration: none;
}

.yoga-for--text h3 {
  font-size: 20px;
  line-height: 45px;
  font-weight: 700;
  text-transform: uppercase;
  color: #777;
}

.yoga-for--text p {
  line-height: 20px;
}

.yoga-for--text > p {
  margin-top: 30px;
  margin-bottom: 15px;
}

.yoga-for--text .subtitle {
  font-weight: 400;
  color: #999;
}

.yoga-for--img {
  padding-top: 300px;
  padding-left: 270px;
  background-position: 50% 50%;
  background-size: cover;
}

@media (max-width: 1200px) {
  .yoga-for--img {
    padding-left: 200px;
  }
}

@media (max-width: 768px) {
  .yoga-for--img {
    padding-left: 100%;
  }
}

.eight-fotos {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 175px;
}

.eight-fotos a:nth-child(2) {
  background-image: url(../images/img-06.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.eight-fotos :nth-child(3) {
  background-image: url(../images/img-07.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.eight-fotos :nth-child(4) {
  background-image: url(../images/img-08.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.eight-fotos :nth-child(5) {
  background-image: url(../images/img-09.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.eight-fotos :nth-child(6) {
  background-image: url(../images/img-10.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.eight-fotos :nth-child(7) {
  background-image: url(../images/img-11.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.eight-fotos :nth-child(8) {
  background-image: url(../images/img-12.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.foto {
  position: relative;
  padding-top: 300px;
  background: url(../images/img-05.jpg) no-repeat;
  background-size: cover;
  width: 25%;
}

@media (max-width: 768px) {
  .foto {
    width: 50%;
  }
}

.foto::after {
  content: '';
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  background-color: #5262dacc;
  transition: .3s;
}

.foto::before {
  content: '';
  opacity: 0;
  width: 42px;
  height: 42px;
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  z-index: 5;
  transform: translate(-50%, -50%);
  background: url(../images/loupe.svg) center no-repeat, linear-gradient(#fff, #fff);
  background-size: 18px;
  border-radius: 50%;
  transition: .3s;
}

.foto:hover::after, .foto:hover::before {
  opacity: 1;
}

.slider-sctn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 175px;
}

.slider-sctn .slider-text {
  width: 45%;
  padding-top: 25px;
}

.slider-sctn .slider {
  width: 45%;
}

.slider-sctn .slider .slider-item {
  padding-top: 300px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

@media (max-width: 786px) {
  .slider-sctn .slider .slider-item {
    padding-top: 200px;
  }
}

.slider-sctn .slider .slick-list {
  box-shadow: 4px 4px 15px 0px #00000026;
  border-radius: 10px;
}

.slider-sctn .slider .slick-prev,
.slider-sctn .slider .slick-next {
  width: 50px;
  height: 50px;
  z-index: 3;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 4px 4px 15px 0px #00000026;
}

.slider-sctn .slider .slick-prev::before,
.slider-sctn .slider .slick-next::before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  border-top: 3px solid #5363db;
  border-left: 3px solid #5363db;
}

.slider-sctn .slider .slick-prev::before {
  transform: rotate(-45deg);
  margin-left: 20px;
}

.slider-sctn .slider .slick-next::before {
  transform: rotate(135deg);
  margin-left: 15px;
}

.slider-sctn .slider .slick-prev:hover,
.slider-sctn .slider .slick-prev:focus,
.slider-sctn .slider .slick-next:hover,
.slider-sctn .slider .slick-next:focus {
  background-color: #fff;
}

@media (max-width: 786px) {
  .slider-sctn .slider .slick-slider {
    width: 90%;
    margin: 0 auto;
  }
}
